@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import "./customs.scss";
$main-color: #bb4fc9;
$secondary-color: #7e4ad9;
$additional-color: #8e759e;
$font-family: "Montserrat", sans-serif;

$breakpoint-phone: 600px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktopXL: 1200px;
$breakpoint-desktopXXL: 1600px;

$theme-colors: (
  "primary": $main-color,
);

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  display: none;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin: 0 20px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */

  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
